<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">PXE服务器</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/" Match="NavLinkMatch.All">
                <span class="fas fa-home" aria-hidden="true"></span> 首页
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/pxe">
                <span class="fas fa-server" aria-hidden="true"></span> PXE服务器
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/vnc">
                <span class="fas fa-desktop" aria-hidden="true"></span> VNC控制台
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/novnc">
                <span class="fas fa-laptop-code" aria-hidden="true"></span> noVNC远程控制
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu() { collapseNavMenu = !collapseNavMenu; }
}