@using System.Runtime.InteropServices
@using System.Reflection
@inherits LayoutComponentBase

@inject NavigationManager NavigationManager

<CookieConsent />
<div>
    <FluentLayout>
        <FluentHeader Class="siteheader">
            <a href="/" aria-label="Back to the homepage">
                <div class="logo" role="presentation" aria-hidden="true" itemprop="logo" itemscope="itemscope">
                    <img src="favicon.png" alt=""/>
                </div>
            </a>
            <FluentSpacer/>

            <div class="notifications">
                <NotificationCenter/>
            </div>
            <div class="settings">
                <SiteSettings/>
            </div>


        </FluentHeader>

        <FluentStack Class="body-stack" Orientation="Orientation.Horizontal" Width="100%" HorizontalGap="0">
            <NavMenu/>
            <FluentBodyContent id="body-content" Style="height: calc(100dvh - 90px);">
                <div class="content">
                    <article id="article">

                        <FluentMessageBarProvider Section="@App.MESSAGES_TOP" ClearAfterNavigation="true"/>


                    </article>

                    <FluentToastProvider MaxToastCount="10"/>
                    <FluentDialogProvider/>
                    <FluentTooltipProvider/>
                    <FluentKeyCodeProvider/>
                    <FluentMenuProvider/>

                </div>
            </FluentBodyContent>
        </FluentStack>

        <FluentFooter Style="@("height: 40px; color: white;  font-size: var(--type-ramp-minus-1-font-size); line-height: var(--type-ramp-base-line-height);")">
            <div class="version">
                Version: @_version
                &nbsp;-&nbsp;
                <a href="https://dotnet.microsoft.com/en-us/learn/aspnet/what-is-aspnet-core">Powered by sct.cn</a>
            </div>
            <FluentSpacer/>
            <div class="copy">
                © 2025, Wonder-Live, All rights reserved.
            </div>
        </FluentFooter>
    </FluentLayout>
</div>

@code {
    private string _version = Assembly.GetAssembly(typeof(App)).ImageRuntimeVersion;
}